@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body{
    padding: 60px;
    max-width: 600px;
    background-color: #E7E7E7;
    margin: 0 auto;
    font-family: Roboto;
}

input{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    /*para el diseño responsive*/
    width: 100%;
      /*Ancho de textarea*/
    padding: 10px;
    border: none; 
    font-size: 1em;
      /*cambiar tamaño horizontal de los elentos*/
    resize: horizontal; 
}

.button {
    display: block;
    background-color: #0095eb;
    padding: 10px 45px 10px 45px;
    border: 0;
    font-size: 1em; 
    color: 	white;
}
